:root {
    --vp-font-family-base: "Chinese Quotes", "Inter var", "Inter", ui-sans-serif, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --vp-font-family-mono: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace
}

body {
    font-family: var(--vp-font-family-base);
    font-style: normal;
    font-weight: 265;
    background-color: #FBFBEF; /* #FBFBEF */
    color: #333;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    line-height: 1.57;
    position: relative;
}

#navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* from static to relative to position pseudo-elements */
    top: 0;
    width: 100%;
    z-index: 1000;
}

/* navbar bottom bar */
#navbar::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 500px;
    height: 1px;
    background-color: #313131;
    transform: translateX(-50%);
}

#navbar ul {
    list-style: none;
    margin: 0;
    padding: 10px;
    display: flex;
    margin-left: 20px;
    margin-top: 5px;
}

#navbar ul li {
    margin: 0 10px;
}

#navbar ul li a {
    text-decoration: none;
    color: #333;
    font-family: 'proxima-nova-condensed', sans-serif;
    font-weight: 200;
}

.logo-and-title {
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.logo-and-title h1 {
    margin: 0 0 0 10px;
    font-family: 'proxima-nova-condensed', sans-serif;
    font-weight: 500;
    font-size: 1.35em;
}

.tagline {
  text-align: center;
  margin-top: -20px;
}

.avatar {
    width: 50px;
    height: auto;
    border-radius: 50%;
}

/* center main body and adds margins left and right */
.content-container {
    max-width: 650px;
    margin: 0 auto; /* centers container */
    padding: 40px; /* padding inside the container */
    width: 100%; /* it doesn't exceed viewport width */
    text-align: left;
}

.timeline {
    position: relative; /* for absolute positioning of the line */
    padding-left: 20px; /* space for the line on the left */
    margin: 20px auto;
}

.timeline::before {
    content: '';
    position: absolute;
    left: 60px; /* align line to the left edge of the timeline */
    top: 8px; /* start the line at the top */
    bottom: 0; /* extend the line to the bottom */
    width: 2px; /* line width */
    background-color: #333; /* line color */
}

.timeline-date {
    position: absolute;
    left: -55px; /* position the years correctly */
    top: 1.5px;
    font-weight: 400;
    font-size: 13px;
}

.timeline-item {
    position: relative;
    margin-left: 50px; /* space for the star to sit on the line */
    margin-bottom: 20px; /* spacing between items */
}

.timeline-item::before {
    content: '⭐️';
    position: absolute;
    left: -17px;
    top: 0.5px;
    font-size: 12px;
}

.timeline-content {
    max-width: 600px;
    padding-right: 20px;
    padding-left: 11px;
    border-radius: 4px;
    position: relative;
}

.timeline h4, .timeline p, .timeline h5 {
    margin-top: 5px; /* space between title and description */
    margin-bottom: 5px;
}

.personal-photo {
    display: inline;
    max-width: 35%;
    height: auto;
    border-radius: 10px;
    margin: 40px 0;
}

.image-with-caption {
    text-align: center;
    margin-bottom: 40px;
}

.caption {
    font-size: 0.85em;
    color: #666;
    margin-top: -35px;
}

/* ----------------------------- ENTRIES ------------------------------------ */
.content-container.entry h1 {
    font-size: 2.75em;
    margin: 20px 0;
    line-height: 1.1;
}

.content-container.entry h2 {
    font-size: 1.75em;
    margin: 20px 0;
    line-height: 1.1;
}

.content-container.entry section {
    margin-bottom: 20px;
}

.content-container.entry .header-date-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: px;
}

.content-container.entry .blog-header {
    padding: 30px;
}

.content-container.entry .header-date {
    font-size: 0.95em;
    color: #888888;
    margin-top: 5px;
}

.content-container.entry .header-date span {
    display: block;
}

.content-container.entry .social-links a {
    margin: 0 10px;
}

.content-container.entry hr {
    border: 0;
    height: 1px;
    background: #333;
    margin-top: 20px;
}

.content-container.entry .tagline {
    text-align: left;
    font-style: italic;
    color: #666;
    margin-top: 10px;
}

.content-container.entry section {
    margin-bottom: 20px;
}

.fas.fa-link {
    /* favicon link size */
    font-size: 00.95em;
    margin-left: -15px;
    color: #333;
}

.fab.fa-twitter-square {
    /* favicon link size */
    font-size: 1.35em;
    margin-left: -15px;
    color: #1DA1F2;
}

.content-container.entry .social-links a {
    text-decoration: none; /* remove underline */
}

#progress-container {
    position: fixed; /* keep visible while scrolling */
    top: 80px;
    bottom: 0; /* Do not remove top and bottom */
    left: 25px;
    height: 100%;
    width: 1px;
    background-color: transparent; /* background */
    z-index: 10; /* Ensure it's above other content */
    height: 88%;    
}

#progress-bar {
    background-color: #000;
    width: 100%;
    height: 0%;
    background-color: #bababa;
    /* increase distance to bottom */
    bottom: 100px;
}

.progress-marker {
    position: absolute;
    left: 100%; /* Place marker to the right of the progress bar */
    transform: translateX(10px); /* Adjust horizontal position */
    white-space: nowrap;
    margin-left: -5px;
    font-size: 0.85em;
    color: #909090;
    font-style: italic;
    text-decoration: none;
}

.progress-marker.active {
    color: #000;
    font-weight: 450;
}

#copy-notification {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #444;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    z-index: 1000;
    display: none;
    font-size: 0.85em;
}


/* --------------- mobile styles --------------- */
@media (max-width: 600px) {
    .logo-and-title {
        align-items: left;
        margin-left: 2px;
    }

    #navbar ul {
        align-items: right;
    }
    
    .logo-and-title h1 {
        font-size: 1.07em;
    }

    .tagline {
        text-align: left;
        margin-top: 5px;
    }

    .content-container {
        width: 87%;
        max-width: 400px;
        padding: 5px;
    }

    .content-container h1 {
        font-size: 1.5em;
    }

    .timeline {
        padding-left: 6px; /* align date, star and content */
        margin: 15px auto;
    }
    
    .timeline::before {
        left: 46px; /* align line */
    }
    
    .timeline-item::before {
        left: -17px;
    }

    .timeline-date {
        top: 1.5px;
    }

    .personal-photo {
        max-width: 55%;
        margin: 40px 0;
    }

    .content-container.entry .header-top {
        margin-bottom: 0;
    }
    
    .content-container.entry .blog-header {
        padding: 0;
    }
    
    .content-container.entry .meta-info {
        margin-bottom: 0;
    }

    #progress-container {
        /* delete it */
        display: none;
    }
}